button {
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 50%;
    margin: auto;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.left {
    border: 2px solid #4CAF50;
}

.left:hover {
    background-color: #4CAF50;
    color: white;
}

.right {
    border: 2px solid #f44336;
}

.right:hover {
    background-color: #f44336;
    color: white;
}

.skip {
    border: 2px solid black;
}

.skip:hover {
    background-color: black;
    color: white;
}

div {
    padding: 8px;
}

.text-display {
    border: 1px solid gray;
    white-space: pre-wrap;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

p {
    text-align: justify;
    letter-spacing: 2px;
}

.column {
    text-align: center;
    float: left;
    width: 33%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

textarea {
    width: 100%;
    text-align: justify;
    font-family: "Verdana", sans-serif;
}
