button {
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.left {
    float: left;
    border: 2px solid #4CAF50;
}

.left:hover {
    background-color: #4CAF50;
    color: white;
}

.right {
    float: right;
    border: 2px solid #f44336;
}

.right:hover {
    background-color: #f44336;
    color: white;
}

.skip {
    border: 2px solid black;
}

.skip:hover {
    background-color: black;
    color: white;
}

div {
    padding: 8px;
}

.text-display {
    border: 1px solid gray;
    white-space: pre-wrap;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

p {
    text-align: justify;
    letter-spacing: 2px;
}

.buttons {
    float: right;
    position: relative;
    left:  -50%;
    text-align: left;
    padding: 20px;
}

.buttons > .centered {
    position: relative;
    left: 50%;
}
