<html>

   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link type="text/css" rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"/>
      {% block scripts %}
        <script type=text/javascript src="{{
          url_for('static', filename='jquery.js') }}">
        </script>
        <script type="text/javascript">
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="{{
          url_for('static', filename='buttons.js') }}">
        </script>
      {% endblock %}
   </head>

   <body>
      <div class="text-display">
          <h1 id="title">{{ title }}</h1>
          <textarea id="content">{{ content }}</textarea>
      </div>
      <div class="row">
          <div class="column">
              <label class="left-count">Non-violent count: <span id="display-left-count">{{ left_count }}</span>
              </label><br>
              <button class="left" id="left" type="button">Non-violent</button>
          </div>
          <div class="column">
              <label>Skipped count: <span id="display-center-count">{{ no_decision_count }}</span>
              </label><br>
              <button class="skip" id="skip" type="button">Can't decide/skip</button>
          </div>
          <div class="column">
              <label class="right-count">Violent count: <span id="display-right-count">{{ right_count }}</span>
              </label><br>
              <button class="right" id="right" type="button">Violent</button>
          </div>
      </div>
      <script>
        $('textarea').each(function () {
          this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
        }).on('input', function () {
          this.style.height = 'auto';
          this.style.height = (this.scrollHeight) + 'px';
        });
      </script>
   </body>

</html>