<html>

   <head>
      <link type="text/css" rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"/>
      {% block scripts %}
        <script type=text/javascript src="{{
          url_for('static', filename='jquery.js') }}">
        </script>
        <script type="text/javascript">
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="{{
          url_for('static', filename='buttons.js') }}">
        </script>
      {% endblock %}
   </head>

   <body>
      <div class="text-display">
          <h1 id="title">{{ title }}</h1>
          <textarea id="content">{{ content }}</textarea>
      </div>
      <div class="counters">
          <label class="left-count">
              Non-violent count: <span id="display-left-count">{{ left_count }}</span>
          </label>
          <label class="right-count">
              Violent count: <span id="display-right-count">{{ right_count }}</span>
          </label>
      </div>
      <div class="buttons">
          <button class="left centered" id="left" type="button">Non-violent</button>
          <button class="right centered" id="right" type="button">Violent</button>
          <button class="skip centered" id="skip" type="button">Can't decide/skip</button>
      </div>
      <script>
        $('textarea').each(function () {
          this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
        }).on('input', function () {
          this.style.height = 'auto';
          this.style.height = (this.scrollHeight) + 'px';
        });
      </script>
   </body>

</html>