<html>

   <head>
      <link type="text/css" rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"/>
      {% block scripts %}
        <script type=text/javascript src="{{
          url_for('static', filename='jquery.js') }}">
        </script>
        <script type="text/javascript">
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="{{
          url_for('static', filename='buttons.js') }}">
        </script>
      {% endblock %}
   </head>

   <body>
      <div class="text-display">
          <h1 id="title">{{ title }}</h1>
          <p id="content">{{ content }}</p>
      </div>
      <div class="buttons">
          <button class="left centered" id="left" type="button">Non-violent</button>
          <button class="right centered" id="right" type="button">Violent</button>
          <button class="skip centered" id="skip" type="button">Can't decide/pass</button>
      </div>
   </body>

</html>